body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: #434455;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
    text-align: center;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2E2F42;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.hero {
    background-color: #2E2F42;
}

.team {
    background-color: #F4F4FD;
}

.teamcard {
    background-color: #FFFFFF;
}

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

header .logo a {
    color: #2E2F42;
}

footer .logo a {
    color: #F4F4FD;
}

.logo span {
    color: #4D5AE5;
}

.team p, 
.team h2, 
.team h3,
.portfolio h2 {
    text-align: center;
}

ul {
    list-style: none;
}

nav a {
    font-weight: 500;
    color: #2E2F42;
}

nav a:hover,
nav a:focus,
address a:hover,
address a:focus {
    color: #404BBF
}

.button:hover,
.button:focus {
    background-color: #404BBF
}

nav a:active {
    text-decoration: underline;
    color: #404BBF
}

address a {
    color: #434455;
    font-style: normal;
    font-weight: 400;
}